*{
    scrollbar-color: white rgb(255, 128, 0);
}

header{
    width: 100%;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 128, 0);
    font-family: 'Smythe', serif;
}

body {
    min-height: 100vh;
    width: 100%;

}

main{
    padding: 16px;
    width: 100%;
    display: flex;
}

footer{
    height: 130px;
    background-color: rgb(255, 128, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headline {
    font-size: 40px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
}

#stars{
    color: rgb(255, 128, 0);
    padding: 8px 0;
}

#one{
    width: 100%;
}

#two{
    display: none;
    border-radius: 6px;
    height: fit-content;
    position: sticky;
    top: 130px;
    z-index: 1;
}

.smythe-regular {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2{
    margin-bottom: 8px;
}

.screenTop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}