* {
  scrollbar-color: white rgb(255, 128, 0);
  transition: 0.3s;
  text-align: left;
}

header {
  width: 100%;
  background-color: rgb(255, 128, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: sticky;
  top: 0px;
}

.headerContent {
  padding: 40px 40px;
  width: 1920px;
  font-family: "Smythe", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Smythe", serif;
}

main {
  height: 100%;
  width: 1920px;
  padding: 16px;
  display: flex;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 128, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
}

h1 {
  font-size: 60px;
}

.headline {
  font-style: italic;
}

#stars {
  color: rgb(255, 128, 0);
  padding: 8px 0;
}

.one {
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  margin-right: 0px;
  min-width: 300px;
  z-index: 1;
}

.two {
  border-radius: 6px;
  height: fit-content;
  z-index: 2;
  width: 362px;
  display: none;
  position: sticky;
  top: 146px;
  right: 0px;
}

.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin-bottom: 8px;
}

.screenTop {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headAndBtn{
  display: flex;
  justify-content: space-evenly;
}

.shoppingBasket {
  position: relative;
  right: 16px;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 11px 3px rgba(0.6, 0.6, 0.6, 0.4);
  border-radius: 30px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  cursor: pointer;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  -o-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
  align-items: center;
  justify-content: center;
  z-index: 6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 8px;
  display: none;
}

.shoppingBasket img {
  width: 55px;
  height: 55px;
  z-index: 5;
}

.shoppingBasket div {
  position: fixed;
  top: 22px;
}

.shoppingBasket:hover {
  box-shadow: 0px 0px 15px 5px rgba(0.6, 0.6, 0.6, 0.8);
  transition: 0.3s ease-in-out;
}

.dBlock {
  display: block;
}

.dFlex {
  display: flex;
}

.dNone {
  display: none;
}