#basket {
    width: 400px;
    display: flex;
    position: sticky;
    right: 0px;
    top: 130px;
    background-color: rgb(235, 160, 49, 0.4);
    height: fit-content;
    border-radius: 8px;
    padding: 8px;
    flex-direction: column;
}

#addbtn{
    width: 26px;
    height: 26px;
    background-image: url(/assets/icons/addbtn.png);
    border-radius: 4px;
    color: black;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 0px;
}

#addBtn {
    width: 26px;
    height: 26px;
    background-image: url(/assets/icons/addbtn.png);
    border-radius: 4px;
    color: black;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 0px;
}

.basketHeader{
    text-align: center;
    width: 100%;
    margin: 8px;
}

.innerBasket{
    display: flex;
    justify-content: space-between;
    width: 100%;
}