#basket {
  width: 100%;
  display: flex;
  background-color: rgb(235, 160, 49, 0.4);
  height: fit-content;
  border-radius: 6px;
  padding: 4px;
  flex-direction: column;
}

.basketHeader {
  text-align: center;
  width: 100%;
  padding: 6px 0 6px 0;
}

.innerBasket {
  padding: 4px;
}

#plus {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minus {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#article {
  width: 75%;
}

#counter {
  width: 15%;
}

#price {
  width: 20%;
  display: flex;
  justify-content: end;
}

.theBasket {
  align-items: flex-start;
  flex-direction: column;
  width: 362px;
  background-color: blanchedalmond;
  margin-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#priceAllDishes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

#delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 16px 0px 16px;
}

#buy {
  display: flex;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(235, 160, 49, 0.4);
  border-radius: 6px;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  -o-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
}

#bin {
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.lower {
  display: flex;
  justify-content: space-evenly;
  height: 24px;
  width: 60%;
}