.theDishes {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: -webkit-fill-available;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    margin-bottom: 8px;
}

#oneDish {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 120px;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#oneDish:hover{
    background: linear-gradient(-167deg, rgba(255, 128, 0, 0.7), white);
}

.articleStructure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
}

#theDescription{
    overflow: hidden;
    text-overflow: ellipsis;
}

.addTo img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}