.theDishes {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: -webkit-fill-available;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  margin-bottom: 8px;
  transition: 0.4s ease-in-out;
}

#oneDish {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 120px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
}

#oneDish:hover {
  background: linear-gradient(145deg, rgba(255, 128, 0, 0.7), white);
  transition: 0.4s ease-in-out;
}

.articleStructure {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}

#theDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.addTo {
  width: 100px;
  height: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.295);
  border-right: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 6px;
  background: linear-gradient(45deg, white, rgba(255, 145, 0, 0.6));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.addTo:hover {
  background: linear-gradient(145deg, rgba(255, 128, 0, 0.7), white);
  transition: 0.4s ease-in-out;
}

.addTo img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
