.imgHead{
    width: 1000%;
    object-fit: cover;
    height: 130px;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
}

.restaurant{
    display: flex;
    height: 130px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 6px;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
}

.restaurant img{
    height: 130px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

footer div img{
    width: 40px;
    height: 40px;
}

#restaurantLogo{
    width: 70px;
    height: 70px;
    top: -35px;
    position: relative;
}

#restaurantLogo img{
    height: 70px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.dishes {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding-bottom: 8px;
    border-radius: 6px;
    gap: 8px;
}

.dishes img {
    width: -webkit-fill-available;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}