.imgHead{
    width: 1000%;
    object-fit: cover;
    height: 130px;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
}

.headline {
    padding-left: 40px;
    font-size: 40px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
    position: relative;

}

.dishes{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding-bottom: 8px;
    border-radius: 6px;
    gap: 8px;
}

.dishes img{
    width: -webkit-fill-available;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.restaurant{
    display: flex;
    height: 120px;
    width: 100%;
    margin-bottom: 8px;
    background-image: url(/assets/img/mediteranesEssen.jpg);
    background-size: cover;
    align-items: center;
    background-position: center;
    border-radius: 6px;
}

.logo{
width: 40px;
height: 40px;
}

.socialMedia{
    width: fit-content;
    justify-content: space-around;
}