#shoppingBasket{
    position: sticky;
    margin-left: 16px;
    display: none;
    transition: 0.7s;
    background-color: rgba(255, 128, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    cursor: pointer;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    -o-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#shoppingBasket img {
    width: 55px;
    height: 55px;
    z-index: 5;
}

#shoppingBasket div {
    position: fixed;
    top: 22px;
}

@media(max-width: 1075px){
    #two{
        display: none;
        height: 100%;
        position: fixed;
        overflow-y: scroll;
    }

    #outerBasket{
        display: none;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    .restaurant {
        margin-bottom: 40px;
    }

    #shoppingBasket{
        position: sticky;
        bottom: 16px;
        left: 50%;
    }
}

@-webkit-keyframes blink{
    0%, 10%{
    background-color: rgba(255, 128, 0, 0);
    }
    11%, 20%{
    background-color: rgba(255, 128, 0, 0.2);
    }
    21%, 30%{
    background-color: rgba(255, 128, 0, 0.4);
    }
    31%, 40%{
    background-color: rgba(255, 128, 0, 0.6);
    }
    41%, 50%{
    background-color: rgba(255, 128, 0, 0.8);
    }
    51%, 60%{
    background-color: rgba(255, 128, 0, 0.8);
    }
    61%, 70%{
    background-color: rgba(255, 128, 0, 0.6);
    }
    71%, 80%{
    background-color: rgba(255, 128, 0, 0.4);
    }
    81%, 90%{
    background-color: rgba(255, 128, 0, 0.2);
    }
    91%, 100%{
    background-color: rgba(255, 128, 0, 0.1);
    }
}

@media(max-width:750px) {
    .dishes {
        width: 100%;
        justify-content: space-between;
        margin: 0px;
        gap: 0px;
    }

    .dishes img {
        max-width: 25%;
    }

    footer {
        height: fit-content;
        padding: 8px;
    }
}

@media(max-width: 490px){
    #outerBasket{
        width: 100%;
        margin-left: 0px;
    }
    #innerBasket{
        padding: 16px 8px;
    }
    
    #two{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        margin-right: 0px;
        overflow-y: auto;
    }
}