@media(max-width: 800px) {

    .hideOnMobile {
        display: none;
    }

    .menuBtn {
        display: block;
    }
}

@media(max-width: 750px){
    .p{
        text-overflow: ellipsis;
    }
    div{
        text-overflow: ellipsis;
    }
}